.perks{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .perks{
        flex-direction: row;
    }

}

.perk{

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "OpenSans";

}


@media screen and (min-width: 768px){
    .perk{
       margin-left: 10px;
       margin-right: 10px;
       flex: 1;
    }

}



.perk h2{
    width: 90%;
    text-align: center;
    color: var(--main-green);
    
    border-width: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: black;


    font-size: 20px;
    font-variation-settings: "wght" 400;


}

.perk p{
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;

    flex: 1;
    font-size: 16px;
    font-variation-settings: "wght" 400;

}


.perk img{
    width: 100%;
}



/* 
@media screen and (min-width: 768px) {
    .perk p{
        height: 100px;
    
    }

}
@media screen and (min-width: 841px) {
    .perk p{
        height: 80px;
    
    }

}
@media screen and (min-width: 1455px) {
    .perk p{
        height: 60px;
    
    }

}



@media screen and (max-width: 976px) and (min-width: 768px) {
    .perk h2{
        height: 40px;
    
    }

} */


.buy-section{
    display:flex;
    font-family: "OpenSans";
    flex-direction: column;
    align-items: center;
    

    margin-bottom: 30px;
}

.buy-section p{
    font-size: 20;
    font-variation-settings: "wght" 600;

}
.buy-section button{
    background-color: #4D9A04;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 25px;
    border: 0px;
}



@media screen and (max-width: 767px) {
    .perk:nth-child(2){
        order: 1;
    
    }

}

.buy-section .order-now-text{
    font-variation-settings: "wght" 400;
    margin-left: 20px;
    margin-right:20px;

}