.reviews{
    
    width: 100%;

}

.stars{
    margin-top: 12px;
    margin-bottom: 0px;

}

.scroller{
    width:100%;
    display: flex;

}

.review{

    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.review p{

    flex: 1;
    font-family: OpenSans;
    width: 80%;

}


.review img{

        width: 100%;
}


.review h2{
    margin-top: 0px;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .scroller{
        width: 270%;
    
        
    
    }

    .reviews{
        overscroll-behavior-x: contain;
        overflow-x: scroll;
    }

}