:root {


    --main-green: #4D9A04;
}

body{
    margin:0;
}

header{


    background-color:var(--main-green);
    width: 100%;
    height: 47px;
    display:flex;
    justify-content:flex-end;
}


